In [8]:
import pandas as pd
import numpy as np

In [9]:
df=pd.read_csv('weight-height.csv')
print(df.head())

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [10]:
df.describe()

             Height        Weight
count  10000.000000  10000.000000
mean      66.367560    161.440357
std        3.847528     32.108439
min       54.263133     64.700127
25%       63.505620    135.818051
50%       66.318070    161.212928
75%       69.174262    187.169525
max       78.998742    269.989699

In [11]:
dp= pd.read_csv('/Users/fuadhassan/Desktop/30dayofpy/hacker_news.csv')

In [12]:
print(dp)

             id                                              title  \
0      12224879                          Interactive Dynamic Video
1      11964716  Florida DJs May Face Felony for April Fools' W...
2      11919867       Technology ventures: From Idea to Enterprise
3      10301696  Note by Note: The Making of Steinway L1037 (2007)
4      10482257  Title II kills investment? Comcast and other I...
...         ...                                                ...
20094  12379592  How Purism Avoids Intels Active Management Tec...
20095  10339284          YC Application Translated and Broken Down
20096  10824382  Microkernels are slow and Elvis didn't do no d...
20097  10739875                      How Product Hunt really works
20098  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                     url  num_points  \
0                http://www.interactivedynamicvideo.com/         386
1      http://www.thewire.com/entertainment/2013/04/f...           2
2      https://www.amazon.com/Technology-Ventures-Ent...           3
3      http://www.nytimes.com/2007/11/07/movies/07ste...           8
4      http://arstechnica.com/business/2015/10/comcas...          53
...                                                  ...         ...
20094  https://puri.sm/philosophy/how-purism-avoids-i...          10
20095  https://medium.com/@zreitano/the-yc-applicatio...           4
20096  http://blog.darknedgy.net/technology/2016/01/0...         169
20097  https://medium.com/@benjiwheeler/how-product-h...         695
20098              https://github.com/jmcarp/robobrowser         182

       num_comments         author        created_at
0                52       ne0phyte    8/4/2016 11:52
1                 1       vezycash   6/23/2016 22:20
2                 1        hswarna    6/17/2016 0:01
3                 2     walterbell    9/30/2015 4:12
4                22         Deinos   10/31/2015 9:48
...             ...            ...               ...
20094             6  AdmiralAsshat    8/29/2016 2:22
20095             1       zreitano   10/6/2015 14:57
20096           132    vezzy-fnord     1/2/2016 0:49
20097           222          brw12  12/15/2015 19:32
20098            58      pmoriarty    5/12/2016 1:43

[20099 rows x 7 columns]

In [22]:
url=dp['url']
print(url.head())

0              http://www.interactivedynamicvideo.com/
1    http://www.thewire.com/entertainment/2013/04/f...
2    https://www.amazon.com/Technology-Ventures-Ent...
3    http://www.nytimes.com/2007/11/07/movies/07ste...
4    http://arstechnica.com/business/2015/10/comcas...
Name: url, dtype: object